@tailwind base;
@tailwind components;
@tailwind utilities;

.color-bg {
     background: rgba(87, 89, 249, 0.76);
     background: -webkit-linear-gradient(114deg, rgba(87, 89, 249, 0.76) 0%, #b944fd 100%);
     background: linear-gradient(114deg, rgba(87, 89, 249, 0.76) 0%, #b944fd 100%);
}